$body-bg-color: #22212C;
$bg-color: #302F3D;
$bg-techs: #CB92B1;
$text-color: #837E9F;
$TypeScript: #2b7489;
$JavaScript: #f1e05a;
$HTML: #e34c26;
$CSS: #563d7c;
$SCSS: #c6538c;

$font-family: 'Merriweather Sans',
sem-serifa;

$box-shadow: 2px 2px 4px #1c1c22;

*,
button,
input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $font-family;
}

body {
  max-width: 1449px;
  background-color: $body-bg-color;
  margin: auto;
  color: $text-color;


  main {
    .box-shadow {
      box-shadow: $box-shadow;
      margin-bottom: 25px;
    }

    margin: auto;
    padding: 20px;
    max-width: 1440px;
    display: flex;
    gap: 20px;

    aside {
      max-width: 348px;
      width: 100%;

      h2 {
        font-size: 20px;
      }

      .view {
        display: none;
      }

      .card-profile,
      .card-info,
      .card-tecnology,
      .card-experience,
      .card-education {
        background-color: $bg-color;
        border-radius: 17px;
        width: 100%;
      }

      .card-profile {
        display: flex;
        width: 100%;
        padding: 30px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 50%;
          border: 1.8px solid #0f0;
          margin-bottom: 20px;
        }

        h1 {
          text-align: center;
          font-size: 20px;
          margin-bottom: 10px;
        }

        span {
          font-size: 13px;
        }
      }

      .card-info {
        padding: 25px;
        font-size: 12px;

        a {
          text-decoration: none;
          color: $text-color;
        }

        .card-info-item {
          display: flex;
          align-items: center;
          margin-top: 15px;

          &:first-child {
            margin-top: 0;
          }

          img {
            width: 24px;
            height: 24px;
            margin-right: 17px;
          }
        }
      }

      .card-tecnology {
        padding: 30px 20px;

        ul {
          margin: 20px 10px 0;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 15px;

          li {
            width: 86px;
            height: 24px;
            background-color: $bg-techs;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 30px;

            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 12.57px;
          }
        }
      }

      .card-experience {
        padding: 30px 20px;

        ul {
          margin: 20px 35px 0;
          font-size: 12px;

          &:first-child {
            margin-top: 0;
          }

          li {
            margin-top: 10px;
          }
        }
      }

      .card-education {
        padding: 30px 20px;

        ul {
          margin: 20px 35px 0;
          font-size: 12px;

          &:first-child {
            margin-top: 0;
          }

          li {
            margin-top: 10px;
          }
        }
      }
    }

    section {
      width: 100%;

      .my-projects,
      .project-card,
      .my-technologies,
      .technologies {
        background-color: $bg-color;
        border-radius: 17px;
      }

      .my-technologies {
        font-size: 20px;
        font-weight: bold;
        padding: 25px;
      }

      .technologies {
        padding: 30px;
        display: flex;
        background-color: $bg-color;

        #list {
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: center;
          gap: 40px;
          flex-wrap: wrap;

          img {
            border-radius: 20px;
          }
        }
      }

      .my-projects {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          font-size: 20px;
          font-weight: bold;
        }

        a {
          color: $text-color;
          display: flex;
          justify-content: space-between;
          align-items: center;

          span {
            margin-left: 5px;
          }
        }
      }

      #project {
        width: 100%;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 25px;

        .project-card {
          cursor: pointer;
          border: 0;
          width: 100%;
          padding: 30px;
          color: $text-color;
          margin: 0 25px 25px 0;

          &:hover {
            transform: scale(1.05, 1.05);
          }

          .project-header {
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: bold;

            img {
              height: 16px;
              margin-right: 5px;
            }
          }

          .project-description {
            margin: 20px 0;
            font-size: 14px;
            padding-right: 20px;
            text-align: left;
          }

          .project-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;

            .stars-commit,
            .stars,
            .commit {
              display: flex;
              align-items: center;
            }

            .stars,
            .commit {
              img {
                margin-right: 5px;
                height: 20px;
              }
            }

            .stars {
              margin-right: 10px;
            }

            .language {
              display: flex;
              align-items: center;

              span {
                margin-right: 5px;
                height: 15px;
                width: 15px;
                border-radius: 50%;
                border: 2px solid $text-color;


              }

              .TypeScript {
                background-color: $TypeScript;
              }

              .JavaScript {
                background-color: $JavaScript;
              }

              .HTML {
                background-color: $HTML;
              }

              .CSS {
                background-color: $CSS;
              }

              .SCSS {
                background-color: $SCSS;
              }
            }
          }

        }


      }
    }
  }

  @media screen and (max-width: 768px) {

    main {
      max-width: 750px;
      margin: 0 -10px 0 10px;
      padding: 0;

      aside {
        max-width: 290px;

        .card-tecnology {
          ul {
            width: 100%;
            align-items: center;
            justify-content: center;
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }

      section {
        max-width: 750px;
        margin: 0 -10px 0 10px;
        padding: 0;

        section {
          width: 100%;
        }

        #project {
          grid-template-columns: 1fr;
        }
      }

    }

  }

  @media screen and (max-width: 425px) {
    main {

      max-width: 425px;
      margin: auto;
      display: grid;

      aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;

        .view {
          display: block;
          margin-top: -20px;
          width: 30px;
          height: 30px;
          border-right: 4px solid $text-color;
          border-bottom: 4px solid $text-color;

          transform: rotate(45deg);
          transition: all ease 0.3s;
        }

        // .viewDiv {

        // }

        .card-info,
        .card-tecnology,
        .card-experience,
        .card-education {
          display: none;
        }
      }
    }

  }


  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 20px;
  }
}